body, html {
    background-color: transparent; /* Vous pouvez remplacer "white" par "transparent" si nécessaire */
    margin: 0;
    padding: 0;
    height: 100%; /* Assurez-vous que la hauteur couvre toute la page */
}
